$family-sans-serif = 'Lexend Deca', -apple-system, sans-serif
$textarea-padding = 0.2em
$textarea-min-height = 0
$link = $primary
$tabs-link-hover-color = $link
$tabs-link-hover-border-bottom-color = $tabs-link-hover-color

@import 'bulma';

html,
body
  height: 100%
  background: $black-ter // OR blue #282A36
