$family-sans-serif = 'Lexend Deca', -apple-system, sans-serif
$textarea-padding = 0.2em
$textarea-min-height = 0

@import 'bulma';

html,
body
  height: 100%
  background: $black-ter // OR blue #282A36
